In [ ]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from scipy import stats

# Ex1: Load the data
df = pd.read_csv('machine-readable-business-employment-data-Jun-2024-quarter.csv')


print(df.head())
print(df.tail())
print(df.info())
print(df.dtypes)
print(df.isnull().sum())

In [42]:
# Ex2: Handling missing data

df_dropped = df.dropna()


df_mean_filled = df.fillna({'Data_value': df['Data_value'].mean()})
df_median_filled = df.fillna({'Data_value': df['Data_value'].median()})
df_specific_filled = df.fillna({'Suppressed': 'Not Available'})

# print(df_mean_filled)
# print(df_median_filled)
# print(df_specific_filled)
# df_ffill = df.fillna(method='ffill')
# df_bfill = df.fillna(method='bfill')

      Series_reference   Period  Data_value     Suppressed STATUS   UNITS  \
0          BDCQ.SEA1AA  2011.06     80078.0  Not Available      F  Number
1          BDCQ.SEA1AA  2011.09     78324.0  Not Available      F  Number
2          BDCQ.SEA1AA  2011.12     85850.0  Not Available      F  Number
3          BDCQ.SEA1AA  2012.03     90743.0  Not Available      F  Number
4          BDCQ.SEA1AA  2012.06     81780.0  Not Available      F  Number
...                ...      ...         ...            ...    ...     ...
23345    BDCQ.SEE3999A  2017.06         NaN              Y      C  Number
23346    BDCQ.SEE3999A  2017.09         NaN              Y      C  Number
23347    BDCQ.SEE3999A  2017.12         NaN              Y      C  Number
23348    BDCQ.SEE3999A  2018.03         NaN              Y      C  Number
23349    BDCQ.SEE3999A  2018.06         NaN              Y      C  Number

       Magnitude                         Subject  \
0              0  Business Data Collection - BDC
1              0  Business Data Collection - BDC
2              0  Business Data Collection - BDC
3              0  Business Data Collection - BDC
4              0  Business Data Collection - BDC
...          ...                             ...
23345          0  Business Data Collection - BDC
23346          0  Business Data Collection - BDC
23347          0  Business Data Collection - BDC
23348          0  Business Data Collection - BDC
23349          0  Business Data Collection - BDC

                                              Group  \
0                   Industry by employment variable
1                   Industry by employment variable
2                   Industry by employment variable
3                   Industry by employment variable
4                   Industry by employment variable
...                                             ...
23345  Territorial authority by employment variable
23346  Territorial authority by employment variable
23347  Territorial authority by employment variable
23348  Territorial authority by employment variable
23349  Territorial authority by employment variable

                               Series_title_1  \
0                                 Filled jobs
1                                 Filled jobs
2                                 Filled jobs
3                                 Filled jobs
4                                 Filled jobs
...                                       ...
23345  Filled jobs (workplace location based)
23346  Filled jobs (workplace location based)
23347  Filled jobs (workplace location based)
23348  Filled jobs (workplace location based)
23349  Filled jobs (workplace location based)

                           Series_title_2 Series_title_3  Series_title_4  \
0       Agriculture, Forestry and Fishing         Actual             NaN
1       Agriculture, Forestry and Fishing         Actual             NaN
2       Agriculture, Forestry and Fishing         Actual             NaN
3       Agriculture, Forestry and Fishing         Actual             NaN
4       Agriculture, Forestry and Fishing         Actual             NaN
...                                   ...            ...             ...
23345  Area Outside Territorial Authority         Actual             NaN
23346  Area Outside Territorial Authority         Actual             NaN
23347  Area Outside Territorial Authority         Actual             NaN
23348  Area Outside Territorial Authority         Actual             NaN
23349  Area Outside Territorial Authority         Actual             NaN

       Series_title_5  Data_value_normalized  Data_value_standardized  \
0                 NaN               0.034497                 0.034041
1                 NaN               0.033741                 0.025726
2                 NaN               0.036983                 0.061401
3                 NaN               0.039091                 0.084595
4                 NaN               0.035230                 0.042109
...               ...                    ...                      ...
23345             NaN                    NaN                      NaN
23346             NaN                    NaN                      NaN
23347             NaN                    NaN                      NaN
23348             NaN                    NaN                      NaN
23349             NaN                    NaN                      NaN

      Period_binned
0         2011-2012
1         2011-2012
2         2011-2012
3         2011-2012
4         2011-2012
...             ...
23345     2017-2018
23346     2017-2018
23347     2017-2018
23348     2017-2018
23349     2017-2018

[23350 rows x 17 columns]

In [48]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from scipy import stats
# Ex3: Data transformation
scaler = MinMaxScaler()
df = pd.read_csv('machine-readable-business-employment-data-Jun-2024-quarter.csv')
df['Data_value_normalized'] = scaler.fit_transform(df[['Data_value']])
# print(df['Data_value_normalized'])

standardizer = StandardScaler()
df['Data_value_standardized'] = standardizer.fit_transform(df[['Data_value']])
# print(df['Data_value_standardized'])
df_encoded = pd.get_dummies(df, columns=['STATUS'])
print(df_encoded)
df['Period_binned'] = pd.cut(df['Period'], bins=[2011, 2013, 2015, 2017, 2019],
                             labels=['2011-2012', '2013-2014', '2015-2016', '2017-2018'])

      Series_reference   Period  Data_value Suppressed   UNITS  Magnitude  \
0          BDCQ.SEA1AA  2011.06     80078.0        NaN  Number          0
1          BDCQ.SEA1AA  2011.09     78324.0        NaN  Number          0
2          BDCQ.SEA1AA  2011.12     85850.0        NaN  Number          0
3          BDCQ.SEA1AA  2012.03     90743.0        NaN  Number          0
4          BDCQ.SEA1AA  2012.06     81780.0        NaN  Number          0
...                ...      ...         ...        ...     ...        ...
23345    BDCQ.SEE3999A  2017.06         NaN          Y  Number          0
23346    BDCQ.SEE3999A  2017.09         NaN          Y  Number          0
23347    BDCQ.SEE3999A  2017.12         NaN          Y  Number          0
23348    BDCQ.SEE3999A  2018.03         NaN          Y  Number          0
23349    BDCQ.SEE3999A  2018.06         NaN          Y  Number          0

                              Subject  \
0      Business Data Collection - BDC
1      Business Data Collection - BDC
2      Business Data Collection - BDC
3      Business Data Collection - BDC
4      Business Data Collection - BDC
...                               ...
23345  Business Data Collection - BDC
23346  Business Data Collection - BDC
23347  Business Data Collection - BDC
23348  Business Data Collection - BDC
23349  Business Data Collection - BDC

                                              Group  \
0                   Industry by employment variable
1                   Industry by employment variable
2                   Industry by employment variable
3                   Industry by employment variable
4                   Industry by employment variable
...                                             ...
23345  Territorial authority by employment variable
23346  Territorial authority by employment variable
23347  Territorial authority by employment variable
23348  Territorial authority by employment variable
23349  Territorial authority by employment variable

                               Series_title_1  \
0                                 Filled jobs
1                                 Filled jobs
2                                 Filled jobs
3                                 Filled jobs
4                                 Filled jobs
...                                       ...
23345  Filled jobs (workplace location based)
23346  Filled jobs (workplace location based)
23347  Filled jobs (workplace location based)
23348  Filled jobs (workplace location based)
23349  Filled jobs (workplace location based)

                           Series_title_2 Series_title_3  Series_title_4  \
0       Agriculture, Forestry and Fishing         Actual             NaN
1       Agriculture, Forestry and Fishing         Actual             NaN
2       Agriculture, Forestry and Fishing         Actual             NaN
3       Agriculture, Forestry and Fishing         Actual             NaN
4       Agriculture, Forestry and Fishing         Actual             NaN
...                                   ...            ...             ...
23345  Area Outside Territorial Authority         Actual             NaN
23346  Area Outside Territorial Authority         Actual             NaN
23347  Area Outside Territorial Authority         Actual             NaN
23348  Area Outside Territorial Authority         Actual             NaN
23349  Area Outside Territorial Authority         Actual             NaN

       Series_title_5  Data_value_normalized  Data_value_standardized  \
0                 NaN               0.034497                 0.034041
1                 NaN               0.033741                 0.025726
2                 NaN               0.036983                 0.061401
3                 NaN               0.039091                 0.084595
4                 NaN               0.035230                 0.042109
...               ...                    ...                      ...
23345             NaN                    NaN                      NaN
23346             NaN                    NaN                      NaN
23347             NaN                    NaN                      NaN
23348             NaN                    NaN                      NaN
23349             NaN                    NaN                      NaN

       STATUS_C  STATUS_F  STATUS_R
0         False      True     False
1         False      True     False
2         False      True     False
3         False      True     False
4         False      True     False
...         ...       ...       ...
23345      True     False     False
23346      True     False     False
23347      True     False     False
23348      True     False     False
23349      True     False     False

[23350 rows x 18 columns]

In [ ]:
# Ex4: Feature engineering
df_sorted = df.sort_values(by='Period')


df_sorted['Period_Magnitude_Interaction'] = df_sorted['Period'] * df_sorted['Magnitude']


df_sorted['Growth_rate'] = df_sorted['Data_value'].pct_change(fill_method=None) * 100
df_sorted['Growth_rate'] = df_sorted['Growth_rate'].fillna(0)
print(df_sorted)

In [49]:
import pandas as pd
from sklearn.pipeline import Pipeline
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler, OneHotEncoder, MinMaxScaler
from sklearn.compose import ColumnTransformer
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from scipy import stats
#Ex5: Data cleaning
df_cleaned = df.drop_duplicates()


df['z_score'] = stats.zscore(df['Data_value'].dropna())
df_no_outliers = df[(df['z_score'].abs() <= 3) | (df['Data_value'].isnull())]

print(df_no_outliers)

df['STATUS'] = df['STATUS'].str.upper().str.strip()
print(df['STATUS'])

      Series_reference   Period  Data_value Suppressed STATUS   UNITS  \
0          BDCQ.SEA1AA  2011.06     80078.0        NaN      F  Number
1          BDCQ.SEA1AA  2011.09     78324.0        NaN      F  Number
2          BDCQ.SEA1AA  2011.12     85850.0        NaN      F  Number
3          BDCQ.SEA1AA  2012.03     90743.0        NaN      F  Number
4          BDCQ.SEA1AA  2012.06     81780.0        NaN      F  Number
...                ...      ...         ...        ...    ...     ...
23345    BDCQ.SEE3999A  2017.06         NaN          Y      C  Number
23346    BDCQ.SEE3999A  2017.09         NaN          Y      C  Number
23347    BDCQ.SEE3999A  2017.12         NaN          Y      C  Number
23348    BDCQ.SEE3999A  2018.03         NaN          Y      C  Number
23349    BDCQ.SEE3999A  2018.06         NaN          Y      C  Number

       Magnitude                         Subject  \
0              0  Business Data Collection - BDC
1              0  Business Data Collection - BDC
2              0  Business Data Collection - BDC
3              0  Business Data Collection - BDC
4              0  Business Data Collection - BDC
...          ...                             ...
23345          0  Business Data Collection - BDC
23346          0  Business Data Collection - BDC
23347          0  Business Data Collection - BDC
23348          0  Business Data Collection - BDC
23349          0  Business Data Collection - BDC

                                              Group  \
0                   Industry by employment variable
1                   Industry by employment variable
2                   Industry by employment variable
3                   Industry by employment variable
4                   Industry by employment variable
...                                             ...
23345  Territorial authority by employment variable
23346  Territorial authority by employment variable
23347  Territorial authority by employment variable
23348  Territorial authority by employment variable
23349  Territorial authority by employment variable

                               Series_title_1  \
0                                 Filled jobs
1                                 Filled jobs
2                                 Filled jobs
3                                 Filled jobs
4                                 Filled jobs
...                                       ...
23345  Filled jobs (workplace location based)
23346  Filled jobs (workplace location based)
23347  Filled jobs (workplace location based)
23348  Filled jobs (workplace location based)
23349  Filled jobs (workplace location based)

                           Series_title_2 Series_title_3  Series_title_4  \
0       Agriculture, Forestry and Fishing         Actual             NaN
1       Agriculture, Forestry and Fishing         Actual             NaN
2       Agriculture, Forestry and Fishing         Actual             NaN
3       Agriculture, Forestry and Fishing         Actual             NaN
4       Agriculture, Forestry and Fishing         Actual             NaN
...                                   ...            ...             ...
23345  Area Outside Territorial Authority         Actual             NaN
23346  Area Outside Territorial Authority         Actual             NaN
23347  Area Outside Territorial Authority         Actual             NaN
23348  Area Outside Territorial Authority         Actual             NaN
23349  Area Outside Territorial Authority         Actual             NaN

       Series_title_5  Data_value_normalized  Data_value_standardized  \
0                 NaN               0.034497                 0.034041
1                 NaN               0.033741                 0.025726
2                 NaN               0.036983                 0.061401
3                 NaN               0.039091                 0.084595
4                 NaN               0.035230                 0.042109
...               ...                    ...                      ...
23345             NaN                    NaN                      NaN
23346             NaN                    NaN                      NaN
23347             NaN                    NaN                      NaN
23348             NaN                    NaN                      NaN
23349             NaN                    NaN                      NaN

      Period_binned   z_score
0         2011-2012  0.034041
1         2011-2012  0.025726
2         2011-2012  0.061401
3         2011-2012  0.084595
4         2011-2012  0.042109
...             ...       ...
23345     2017-2018       NaN
23346     2017-2018       NaN
23347     2017-2018       NaN
23348     2017-2018       NaN
23349     2017-2018       NaN

[22943 rows x 18 columns]
0        F
1        F
2        F
3        F
4        F
        ..
23345    C
23346    C
23347    C
23348    C
23349    C
Name: STATUS, Length: 23350, dtype: object

In [51]:
# Ex6: Splitting data into training and testing sets

df = df.dropna(subset=['Data_value'])

X = df.drop(['Data_value'], axis=1)
y = df['Data_value']


if y.isnull().sum() > 0:
    print("NaN values detected in the target variable. Please handle missing values.")
else:

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
    print("X_train.shape", X_train.shape)

X_train.shape (16408, 17)

In [50]:
# Ex7: Building the preprocessing pipeline
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)
numerical_features = ['Period', 'Magnitude']
categorical_features = ['STATUS', 'UNITS', 'Subject', 'Group']

numerical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='mean')),
        ('scaler', StandardScaler())
    ])

categorical_transformer = Pipeline(steps=[
        ('imputer', SimpleImputer(strategy='constant', fill_value='missing')),
        ('onehot', OneHotEncoder(handle_unknown='ignore'))
    ])

preprocessor = ColumnTransformer(
        transformers=[
            ('num', numerical_transformer, numerical_features),
            ('cat', categorical_transformer, categorical_features)
        ])

model_pipeline = Pipeline(steps=[
        ('preprocessor', preprocessor),
        ('regressor', LinearRegression())
    ])


model_pipeline.fit(X_train, y_train)
y_pred = model_pipeline.predict(X_test)


test_score = model_pipeline.score(X_test, y_test)
print(test_score)

0.16141310683527088